html,
body {
     margin: 0;
     padding: 0;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: #EEF0F4;
     user-select: none;
}

.container {
     display: flex;
     flex-direction: column;
     max-width: 320px;
     margin: 30px auto;
     border: 2px solid #E0E0E0;
     /* Light border */
     border-radius: 8px;
     background-color: #FFF9C4;
     /* White background */
     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
     /* Subtle shadow */
     padding: 15px 20px;
}

img {
     width: 130px;
     margin: 0 auto;
}

input {
     color: #432000;
     /* Dark brown text color */
     background-color: #F5F5F5;
     /* Light gray background */
     border: 1px solid #434242;
     /* Light border */
     padding: 15px;
     border-radius: 8px;
     font-size: 20px;
     text-align: center;
     font-family: 'Rubik', sans-serif;
     margin: 10px 0;
     transition: border-color 0.3s ease;
}

input:focus {
     outline: none;
     border-color: #FFF9C4;
     /* Yellow border on focus */
     box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
     /* Subtle shadow on focus */
}
button {
     color: #000000;
     background-color: #FFA500;
     /* Orange background */
     border: none;
     padding: 15px 25px;
     border-radius: 8px;
     font-size: 1.5rem;
     font-weight: bold;
     text-align: center;
     font-family: 'Rubik', sans-serif;
     transition: background-color 0.5s ease;
     cursor: pointer;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     /* Subtle shadow */
}
button:hover {
     background-color: #FF6347;
     /* Reddish-orange on hover */
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     /* Enhanced shadow on hover */
}


ul {
     list-style: none;
     padding: 0;
     display: flex;
     flex-wrap:wrap;
     /* max-width: 440px; */
     gap:20px;
}

ul li {
     font-size: 20px;
     cursor: pointer;
     flex-grow: 1;
     text-align: center;
     background-color: #F5F5F5;
     /* Light gray background */
     border: 1px solid #424242;
     /* Light border */
     padding: 20px;
     border-radius: 8px;
     box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
     /* Subtle shadow */
     transition: background-color 0.3s ease, transform 0.2s ease;
}

ul li:hover {
     background-color: #f3e178;
     /* Yellow on hover */
     transform: translateY(-2px);
     /* Lift slightly on hover */
}